@charset "utf-8";
h1,h2,ul,li,img{padding:0;margin:0}
img{border:none}
ul,li{list-style:none}
html{background:#eee}
body{background:#fff;width:900px;padding-top:50px;margin:30px auto;font-family:"Hiragino Sans GB","ST Heiti","LiHei Pro Medium","Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Zen Hei";-moz-box-shadow:0 0 8px #777;-webkit-box-shadow:0 0 8px #777;box-shadow:0 0 8px #777;behavior:url(css/PIE.htc)}
a{color:#333;text-decoration:none;outline:none;transition:color .3s ease-out}a:hover{color:#00466b}
#loading{padding:30px 0;height:128px;background:url(loading.gif) no-repeat center center}
.page-nav{margin-top:20px}.page-nav .page{display:inline-block;margin-right:6px;border:1px solid #ccc}.page-nav .page:hover a{color:#00466b}
.page-nav .page.current a{color:#00466b}
.page-nav .page a{display:inline-block;font-size:14px;line-height:28px;text-align:center;min-width:28px;color:#8a8a8a;transition:color .5s linear}
#header{margin-bottom:30px;padding:0 50px}#header:after{clear:both;content:'';display:block}
#header #logo{width:300px;float:left}
#header h1{font-size:48px;line-height:48px}#header h1 a{color:#00466b}
#header h2{font-size:24px;line-height:24px}#header h2 a{color:#00466b}
#header ul{float:right}#header ul li{border-right:2px solid #ccc;float:left;font-weight:bold;font-size:14px;width:14px;padding:3px 1em}
#header ul li:last-child{border-right:none}
#header ul li a{color:#777}#header ul li a:hover{color:#00466b}
#header ul:after{display:block;clear:both;content:''}
main{padding:0 50px}main #sidebar{float:right;margin-right:24px;width:200px}main #sidebar h2{color:#00466b;padding-top:30px;padding-bottom:20px;font-size:18px;font-weight:normal}main #sidebar h2 i{padding-right:12px}
main #sidebar ul{margin-left:30px;color:#777}main #sidebar ul a{color:#777}main #sidebar ul a:hover{color:#00466b}
main #sidebar ul li{font-size:14px;line-height:24px}
main #sidebar #search h2{padding-top:0}
main #sidebar #search #search-box{margin-left:30px;width:140px;border:1px solid #ccc}main #sidebar #search #search-box input{width:100px;border:none;padding:5px;background:transparent;outline:none}
main #sidebar #search #search-box i{float:right;padding:5px;color:#ccc;cursor:pointer}
main #sidebar #search #search-box:after{display:block;content:'';clear:both}
main #sections{float:left;width:550px}
main #error{padding:40px 0}main #error h1{font-size:24px;font-weight:normal;color:#00466b}
main #error a{color:#00466b}
main .section h1{text-transform:capitalize;font-size:18px;font-weight:normal;color:#00466b;padding-top:16px;padding-bottom:16px}
main .section article{font-size:14px;line-height:36px}main .section article .date{color:#777;padding-right:6px}
main .section:first-child{width:600px}main .section:first-child h1{padding-top:0}
main:after{clear:both;content:'';display:block}
#gallery{width:100%;height:360px;margin-bottom:30px;overflow:hidden;display:none}
article.single header h1{text-align:center;font-size:21px;overflow:hidden;line-height:60px}article.single header h1 a{color:#00466b}
article.single .content img{max-width:100%;height:auto !important}
article.single .content p{line-height:2em;text-indent:2em;font-size:14px}
#comments{padding-top:30px}
#footer{margin-top:20px;padding:20px 50px;padding-right:0;font-size:12px;background:#555;color:#ccc}#footer address{font-style:normal}
#footer ul{float:left;margin-right:2em}#footer ul li{padding:3px}#footer ul li span{color:#fff}
#footer #copyright{color:#fff}
#footer #admin{color:#fff}#footer #admin a{color:#fff}
#footer a{color:#ccc}
#footer:after{clear:both;content:'';display:block}
